<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='voice_style.css') }}">
    {% block title %}<title>Master thesis form</title>{% endblock %}
</head>

<body class="container">
    <div class="form_area">
        <div>
            <h4 class="title">{{ title }}</h4>
        </div>
        {% block project_info %}
        <div>
            <p>
            <h4 class="info">Celem formularza jest zebranie informacji, które zostaną wykorzystane do ewaluacji jakości
                wykorzystanych metod, opartych na sieciach neuronowych, do konwersji barwy głosu w ramach projektu
                magisterskiego. Zebrane dane pozwolą wyłonić metodę charakteryzującą się najwyższą jakością oraz
                naturalnością generowanych próbek głosowych.
                Twój udział w badaniu jest niezwykle ważny i pomoże uzyskać cenne wnioski.
                Posłuchaj nagrań głosowych z pól wyświetlanych na ekranie formularza.
                Oceń jakość konwersji na podstawie przedstawionych nagrań, przypisując im odpowiednią wartość na skali
                od 1 do 5, gdzie 1 oznacza
                najniższą jakość, a 5 oznacza najwyższą.
            </h4>
            </p>
            <p>
            <h4 class="info">
                W kolejnych wierszach znajdują się wygenerowane próbki przekonwertowanej barwy głosu. Wiersze
                reprezentują
                różne metody wykorzystane podczas realizacji projektu. Kolumny odpowiadają próbkom w kolejności: Głos
                źródłowy A, głos docelowy B,
                konwersja A->B, konwersja B -> A. Suwakiem po prawej stronie określ jakość przeprowadzenia
                konwersji dla
                każdej z metod.
            </h4>
            </p>
        </div>
        {% endblock %}
        {% block content %}
        <div>
            <form action='#' method='POST'>

                {% for element in speaker_data %}
                <div class="voice_samples">
                    {% for audio in samples %}
                    <audio id="audioPlayer" name="voice_display" class='audio' controls>
                        <source src={{url_for('static', filename='/' .join(['voice_data', element , audio]))}}
                            type="audio/wav">
                        Your browser does not support the audio element.
                    </audio>
                    {% endfor %}
                    <input type="range" name={{element}} class="range_class" value="3" min="1" max="5"
                        oninput="this.nextElementSibling.value = this.value">
                    <output>3</output>
                </div>
                {% endfor %}
                <div>
                    <button class="btn">Prześlij odpowiedź</button>
                </div>
            </form>
        </div>
        {% endblock %}
    </div>
</body>

</html>